@{
    Layout="Shared/_layout.cshtml";
}

<h2>@Model["band"].GetName()</h2>
<hr />
@if (@Model["bandVenues"].Count != 0)
{
  <h4>This band has played at these venues:</h4>
  <ul>
    @foreach (var venue in @Model["bandVenues"])
    {
      <li>@venue.GetName()</li>
    }
  </ul>
}
<hr />

<div class="add-venue">
    <h4>Wnant to add a venue to this artist?</h4>
    <form action='/band/add_venue' method='post'>
        <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
        <p><label for='venue-id'>Select a venue</label></p>
        <p>
            <select id='venue-id' name='venue-id' type='text'>
                @foreach (var venue in @Model["allVenues"])
                {
                    <option value='@venue.GetId()'>@venue.GetName()</option>
                }
            </select>
            <button type='submit' class="btn btn-default btn-m" class="form-buttons">Add</button>
        </p>
    </form>
</div>

<hr />
<br>
<h4>No venues added yet?</h4>
<h4><a href="/venue/new">Add new venue</a></h4>
<h4><a href="/bands">Return to bands</a></h4>
