<h2>@Model["band"].GetName()</h2>
<h3>@Model["band"].GetDate()</h3>
<hr />
@if (@Model["bandVenues"].Count != 0)
{
  <h4>This band has played at these venues:</h4>
  <ul>
    @foreach (var venue in @Model["bandCourses"])
    {
      <li>@venue.GetName()</li>
    }
  </ul>
}
<h4>Add a venue for this band:</h4>
<form action='/band/add_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetName()</option>
    }
  </select>
 <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
